/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
body{
    font-size: 1.6rem;
}
/*  */
.container{
    max-width: 1250px; 
    margin: 0 auto;
}

.title_header{
    /* border: 1px solid black; */
    padding: 1rem 0;
    background-color: rgb(154, 149, 149);
}
.nav{
    background-color: blue;
    padding: 1rem 1rem;
}
/* ul */
.nav__list{
    list-style-type: none;
    padding-left: 5rem;
}
/* li */
.nav__item{
    float: left;
    padding-right: 1rem;
}
/* a */
.nav__link{
    color: white;
}
.clearfix::after {
      display: block;
      content: "";
      clear: both;
}

/* body */
.content__block{
    border: 1px solid black;
    height: 39.8rem;
}
.left-side__block{
    /* background-color: darkseagreen; */
    float: left;
    width: 30%;
    height: 100%;
    /* padding: 1rem; */
}
.left-side__list{
    padding: 0rem 0rem 4rem 2rem;
}
.right-side__block{
    background-color: none;
    float: left;
    width: 70%;
    height: 100%;
}
.right-side__content{
    padding: 1rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
.menu__list{
    list-style-type: square;
    padding-left: 3rem;
}
.content{
    padding: 2rem 0;
}

.link_content{
    padding: 2rem 0;
}
.footer{
    background-color: blue;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}
.block_content_right{
    padding-top: 2rem;
}

/* mini content */
.side__mini-content{
    float: left;
    width: 50%;
    padding: 2rem 1rem;
}